      <div class="blog">
        <a href="/blog/{{id}}">
        <header>
        {{title}} - <span style="font-size:small">Posted by: {{user.username}} on {{format_date blog_date}}</span>
        </header>
        </a>
      </div>