  <section class="comment-card">
  <header></header>
  <p>{{content}}</p>
  <div class="comment-card-body">
      <p>- {{comment.user.username}}, {{format_date comment_date}} </p>
      </div>
    </section>