      <div class="post">
        <a href="/post/{{id}}">
        <header>
        {{title}} - <span style="font-size:small">Created {{format_date post_date}}</span>
        </header>
        </a>
      </div>