{{#if loggedIn}}
  <p></p>
  <p></p>
  <header>Dashboard</header>
  <p></p>
  <p></p>
  {{#each userBlogs as |blog|}}
    {{> blog-summary blog}}
  {{/each}}
  <div class="blog-entry">
    <a href="/newpost" id="newpost-btn">+ New Post</a>
  </div> 
{{else}}
  <a href="/login">You must login to view comments.</a>
{{/if}}